body{
    margin: 0;
    padding: 0;
    max-width: 1000px;
    max-height: 3000px; 
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgba(2, 2, 2);
}

p{
    font-size: 15px;
    line-height: 1.0;
    text-align: center;
    background-size: auto;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url(hon.png);
    background-attachment:inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,0);
}
